<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
        <a class="navbar-brand" routerLink="/home">🦄 Rewards</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01"
            aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/home" routerLinkActive="active" ariaCurrentWhenActive="page">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/users" routerLinkActive="active" ariaCurrentWhenActive="page">Users</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/albums" routerLinkActive="active" ariaCurrentWhenActive="page">Albums</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/contact" routerLinkActive="active" ariaCurrentWhenActive="page">Contact List</a>
                </li>
                <li ngbDropdown class="nav-item">
                    <a href (click)="false" class="nav-link" ngbDropdownToggle>Users</a>
                    <div ngbDropdownMenu>
                      <button ngbDropdownItem routerLink="/users-list">User List</button>
                      <div class="dropdown-divider"></div>
                      <button ngbDropdownItem routerLink="/file-import">Import Users</button>
                      <button ngbDropdownItem routerLink="/user-create">Create User</button>
                    </div>      
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/test" routerLinkActive="active" ariaCurrentWhenActive="page">Test Unicorn API</a>
                </li>
            </ul>
        </div>
    </div>
</nav>