<div class="row">
    <div class="col">
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Username</th>
                    <th>Email</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let u of users">
                    <td>{{u.name}}</td>
                    <td>{{u.username}}</td>
                    <td>{{u.email}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>